<h1>All Users</h1>
<table>
  <thread>
    <tr>
      <th>Usernames:</th>
    </tr>
  </thread>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to "Show Events", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New User", new_user_path %><br />
<%= link_to "All Events", events_path %><br />
<% if current_user %>
  <%= link_to "New Event", new_event_path %>
<% end %>
