<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<table>
  <thread>
    <tr>
      <th>Created Events:</th>
    </tr>
  </thread>
  <tbody>
    <% @user.created_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thread>
    <tr>
      <th>Previously Attended Events:</th>
    </tr>
  </thread>
  <tbody>
    <% @user.attended_events.each do |event| %>
      <tr>
        <% if event.date < Time.current %>
          <td><%= event.name %></td>
          <td><%= event.date %></td>
          <td>hosted by <%= event.creator.username %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thread>
    <tr>
      <th>Upcoming Events:</th>
    </tr>
  </thread>
  <tbody>
    <% @user.attended_events.each do |event| %>
      <tr>
        <% if event.date > Time.current %>
          <td><%= event.name %></td>
          <td><%= event.date %></td>
          <td>hosted by <%= event.creator.username %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
