<h1>All Events</h1>
<table>
  <thread>
    <tr>
      <th>Previous Events:</th>
    </tr>
  </thread>
  <tbody>
    <% Event.past.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.creator.username %></td>
        <td><%= link_to "Show User", event.creator %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thread>
    <tr>
      <th>Upcoming Events:</th>
    </tr>
  </thread>
  <tbody>
    <% Event.upcoming.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.creator.username %></td>
        <td><%= link_to "Show User", event.creator %></td>
      </tr>
    <% end %>
  </tbody>
</table>
